<div id="<%= slot_code %>" class="component quote <%= 'double' if expand %> <%= additional_classes %> <%= 'has-image' unless component.asset.nil? %>">
  <blockquote>
    <%= image_tag component.asset.url('232x150#'), alt: component.citation unless component.asset.nil? %>
    <%= simple_format component.quote %>
  </blockquote>
  <% if component.link.blank? %>
    <span class="author"><%= component.citation %></span>
  <% else %>
    <%= link_to component.citation, component.link, :class => "author" %>
  <% end %>
</div>